/* GLOBALS ---------------------------------------------  */
:root {
    --color-1: #706422;
    --color-2: rgba(76, 263, 204, 50);
    --color-3: #000;
    --nav-grad: linear-gradient(20deg, var(--color-1) 33%, var(--color-2) 40%, var(--color-3) 60%);
    --color-dark: #222;
}

.body {
    background-color: #adadad;
}

.bg-dark-custom,
.bg-dark-custom > div {
    color: var(--color-2);
    text-shadow: 2px 2px 3px var(--color-1);
}

.bg-dark-custom {
    background-color: var(--color-dark);
}

.bg-dark-custom > div {
    background-color: #333;
}

/* NAVBAR STYLES ---------------------------------------  */ 
nav {
    z-index: 10;
}

.logo {
    width: 60px; 
    height: 60px;
}

.bg-grad {
    background-image: var(--nav-grad);
}

.navbar-toggler-icon {
    background-color: var(--color-1);
}

.dropdown-toggle {
    background-color: var(--color-3);
}

section {
    border: 2px solid red;
    width: 100vw;
    height: 100vh;
}

div {
    /* border: 2px solid blue; */
}


/* HOMEPAGE STYLES ----------------------------------------------------- */
#home {
    background-image: url("../images/bgSkull.png");
}

#jumbo1 {
    background-image: url("../images/coverart.png");
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 80%;
}

#jumbo1 > p {
    background-color: #222;
    width: 25%;
}

/* BIO STYLES ----------------------------------------------------- */
.baseball:hover {
    cursor: url('../images/baseball.png'), pointer;
}

.baseball:active {
    cursor: url('../images/baseball2.png'), pointer;
}

.card-image {
    width: 90%;
    margin-top: 20px;
    border-radius: 10px;
    border: 6px solid var(--color-1);
}
/* STORE STYLES --------------------------------------------------- */

/* SHOWS PAGE STYLES ---------------------------------------------- */

/* ALBUM PAGE STYLES ---------------------------------------------- */

/* CONTACT FORM STYLES ---------------------------------------------*/

/* MEDIA QUERIES -------------------------------------------------- */
@media (min-width: 320px) and (max-width: 991px) {

    #jumbo1 {
        background-size: 100vw;
        background-position: center;
        background-size: 100vh;
        padding-top: 60px;
        height: 100vh;
        justify-content: center;
        align-items: center;
    }

    #jumbo1 > p{
        margin: auto;
        width: 80%;
    }

    #home {
        padding-top: 40px;
        font-size: 1rem;
    }
}